@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.App {
  text-align: center;
  font-family: 'Merriweather', serif;
}

/* HEADER STYLE */

.header{
  width: 100%;
  text-align: center;
}

.header-title{
  margin: auto;
  margin: 30px;
  font-size: 3.5em;
}

.header-navigator{
  width: 100%;
}

.header-button{
  font-size: 2em;
  font-weight: 400;
  height: 50%;
  width:33.33%;
}

/* END HEADER STYLE */